/*

#############################
### TEMPLATE: docs detail ###
#############################

### INFO:

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_text.scss';
@import 'components/atoms/_color.scss';
@import 'components/atoms/_headline.scss';

@import 'components/templates/_default.scss';

body {
  background-color: color('whisper');
}

.#{template('docs-detail')} {

  .#{utility('container')} {
    @include container;
    @media (min-width: 1024px) {
      max-width: none;
      grid-template-columns: 254px minmax(100px, 1fr) 240px;
    }
  }

  .#{utility('content')},
  .#{utility('help')} {
    @include content;
  }

  .#{utility('sidebar')} {
    @include sidebar;
    @media (min-width: 1024px) {
      grid-column: 1;
    }
  }

  .#{utility('toc')} {
    @include toc;
    @media (min-width: 1024px) {
      grid-column: 3;
    }    
  }

  .#{utility('sidebar')} ~ .#{utility('content')},
  .#{utility('toc')} ~ .#{utility('content')} {
    @include content-with-sidebar;
    @media (min-width: 1024px) {
      grid-column: 2;
    }   
  }

  .#{utility('content')} {
    h1 {@include hl-h2;}
    h2 {@include hl-h3;}
    h3 {@include hl-h4;}
    h4 {@include hl-h5;}

    @media (min-width: 1324px) {

      p,
      ul,
      ol,
      h1,
      h2,
      h3,
      h4,
      h5 {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
      }

      .ap-m-tip,
      .ap-m-code-snippet,
      .ap-a-video,
      table {
        margin-left: 50px;
        margin-right: 50px;
        width: auto;
      }

      table {
        display: table;
        width: 100%;
      }

      tbody tr {
        border-bottom: 1px solid #e4e4e4;
        td:nth-child(1) {
          border-right: 1px solid #e4e4e4;
        }
      }

    }

    @media (min-width: 1730px) {
      .ap-m-tip,
      .ap-m-code-snippet,
      .ap-a-video,
      table {
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
      }
    }

    amp-anim {
      @include box-shadow;
    }

    table {
      box-shadow: 0 0 20px #0000000a;
    }

    figure {
      &.alignment-wrapper {
        margin: 0;
      }

      &.half {
        amp-img {
          @media (min-width: 768px) {
            width: 50%;
          }
        }
      }

      &.third {
        amp-img {
          width: 50%;
          @media (min-width: 768px) {
            width: 33%;
          }
        }
      }

      amp-img {
        @include box-shadow;
        margin: 0 auto;
      }

      figcaption {
        @include txt;
        @include txt-3;
        padding-top: 20px;
      }
    }
  }

  .#{utility('chapter-indicator')} {
    display: flex;
    justify-content: space-between;

    .#{atom('btn')} {
      margin: 0 auto;
    }

    .#{utility('previous')} {

      .#{molecule('lnk')} {
        &-icon {
          transform: scaleX(-1);
        }
      }
    }

    .#{utility('next')} {
      justify-self: flex-end;

      .#{molecule('lnk')} {
        &-icon {
          margin-left: 0.625em;
          margin-right: 0;
        }
      }
    }
  }
}
